{% extends "layout.html" %}
  
{% block body %}
{% if author and author.id %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('author_update') }}">
    {{ form.id }}
{% else %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('author_create') }}">

{% endif %}
<p>New author</p>
  <p>
    {{ form.name.label }}:<br/>
    {{ form.name(value=name) }}
    <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.tag.label }}:<br/>
    {{ form.tag }}
    <ul>
        {% for error in form.tag.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>
  <!--
  <p>
      {{ form.alias_of.label }}:<br/>
      {{ form.alias_of(value=[1,2,3]) }}
      <ul>
        {% for error in form.alias_of.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
   
    </p>
    -->
    <p>
    <input type="submit" value="Add a new author"/>
  </p>
</form>
{% endblock %}

