{% extends "layout.html" %}
  
{% block body %}
<PRE>{% if author and author.id
%}<form method="POST" enctype="multipart/form-data" action="{{ url_for('author_update') }}">{{ form.id }}
EDIT AUTHOR
{% else %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('author_create') }}">
NEW AUTHOR
{% endif %}
  <p>
    {{ form.name.label }}:<br/>
    {{ form.name(value=name) }}
    <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.tag.label }}:<br/>
    {{ form.tag }}
    <ul>
        {% for error in form.tag.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>
    <p>
    <input type="submit" value="Add a new author"/>
  </p>
</PRE>
</form>
{% endblock %}

