{% extends "layout.html" %}
  
{% block body %}

<PRE>
.-=====================================================[AUTHOR INFORMATION]===-.
| AUTHOR: {{author.name.ljust(68) }} | 
| TAG: {{ author.tag.ljust(71) }} |
+-------------------------------------------------------------------[GROUPS]---+
{% for group in memberships %}|<a href="{{ url_for('view_group', group_id=group.id) }}"> {{ group.name.ljust(75) }} </a> |{% endfor %}
+-----------------+-----------------------------------------------[RELEASES]---+{% for collection in collections %}
| <a href="{{ url_for('collections_view', collection_id=collection.id) }}">{{ collection.filename.ljust(15) }}</a> | {{ collection.name.ljust(58) }} |{% endfor %}
+-================+===========================================================-'
:
{% if current_user.is_authenticated and current_user.is_admin() %}[<a href="{{ url_for('author_edit_form', author_id=author.id) }}">EDIT</a>]{% endif %}
</PRE>
{% endblock %}

