<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ASCII-archive</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
    </p>
    {% else %}
      <a href="{{ url_for('auth_login') }}">Login</a>
      <a href="{{ url_for('auth_register') }}">Register</a>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('collections_list') }}">List collections</a></li>
      <li><a href="{{ url_for('collection_new_form') }}">Add a collection</a></li>
    </ul>

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}

    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
   </p>
  </body>
</html>