{% extends "layout.html" %}
  
{% block body %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('group_create') }}">
    {{ form.csrf_token }}

<p>New group</p>
  <p>
    {{ form.name.label }}:<br/>
    {{ form.name }}
    <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.abbreviation.label }}:<br/>
    {{ form.abbreviation }}
    <ul>
        {% for error in form.abbreviation.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>
    <p>
      <input type="submit" value="Add a new group"/>
    </p>
{% endblock %}

