{% extends "layout.html" %}

{% block body %}
<p class="nav-item">
  <a class="nav-link" href="{{ url_for('collection_new_form') }} ">Add a collection</a>
</p>

{% if collections is not undefined %}
<table>
    <tr>
      <th>Name</th>
      <th>Author</th>
    </tr>


  {% if current_user.is_authenticated and current_user.is_admin() %}
    {% for collection in collections %}
      {% if collection.public %}
          <tr>
              <td><a href="{{ url_for('collections_view', collection_id=collection.id) }}">{{ collection.name }}</a></td>
          <td>{{ collection.author.name }}</td>
          <td>
          <form method="GET" action="{{ url_for('collection_set_private', collection_id=collection.id) }}">
            <input type="submit" value="Hide"/>
          </form>
          </td>
        </tr>
      {% else %}
              <tr>

            <td>{{ collection.name }}</td>
            <td>{{ collection.author.name }}</td>
            <td>
            <form method="GET" action="{{ url_for('collection_set_public', collection_id=collection.id) }}">
              <input type="submit" value="Publish"/>
            </form>
          </td>
        </tr>
      {% endif %}  
      </td>
    </tr>
    {% endfor %}
    {% else %}
    {% for collection in collections %}

      {% if collection.public %}
    <tr>
        <td><a href="{{ url_for('collections_view', collection_id=collection.id) }}">{{ collection.name }}</a></td>
    <td>{{ collection.author.name }}</td>
  </tr>

      {% endif %}
  </table>
    {% endfor %}
  {%endif %}
  {%endif %}
{% endblock %}
