{% extends "layout.html" %}
  
{% block body %}
{% if collection and collection.id %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('collection_update') }}">
    {{ form.id }}
{% else %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('collection_create') }}">

{% endif %}
  <p>
    {{ form.name.label }}:<br/>
    {{ form.name(value=test) }}
    <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.author_id.label }}:<br/>
    {{ form.author_id }}
    <a href="{{ url_for('author_new_form') }}">or add a new one</a>
    <ul>
        {% for error in form.author_id.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.group_id.label }}:<br/>
    {{ form.group_id }}
    <a href="{{ url_for('group_new_form') }}">or add a new one</a>
    <ul>
        {% for error in form.group_id.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>

  <p>
      {{ form.year.label }}:<br/>
      {{ form.year(value=year) }}
      <ul>
      {% for error in form.year.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </p>
  

    <p>
        {{ form.upload.label }}:<br/>
        {{ form.upload }}
        <ul>
          {% for error in form.upload.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
     
      </p>
        
    <p>
    <input type="submit" value="Add a new collection"/>
  </p>
</form>
{% endblock %}

