{% extends "layout.html" %}
  
{% block body %}

  {% if collection and collection.id %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('collection_update', collection.id) }}">
    {{ form.id }}
{% else %}
  <form method="POST" enctype="multipart/form-data" action="{{ url_for('collection_create') }}">

{% endif %}
{{ form.csrf_token }}
{{ form.hidden_tag() }}
  <p>
    {{ form.name.label }}:<br/>
    {{ form.name }}
    <ul>
    {% for error in form.name.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.author_id.label }}:<br/>
    {{ form.author_id(autocomplete="off") }}
    <a href="{{ url_for('author_new_form') }}">or add a new one</a>
    <ul>
        {% for error in form.author_id.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>
  <p>
    {{ form.group_id.label }}:<br/>
    {{ form.group_id(autocomplete="off") }}
    <a href="{{ url_for('group_new_form') }}">or add a new one</a>
    <ul>
        {% for error in form.group_id.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
  </p>

  <p>
      {{ form.year.label }}:<br/>
      {{ form.year }}
      <ul>
      {% for error in form.year.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    </p>
  

    <p>
        {{ form.upload.label }}:<br/>
        {{ form.upload }}
        <ul>
          {% for error in form.upload.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
     
      </p>
    <p>

  
    <input type="submit" value="{% if collection != None %}Add a new collection{% else %}Update collection{%endif%}"/>
  </p>
</form>
{% if collection is defined %}
<p>    
  <a class="btn btn-primary" role="button" href="{{url_for('collection_delete', collection_id=collection.id)}}">DELETE</a>
</p>
{% endif %}
{% endblock %}

