{% extends "layout.html" %}
  
{% block body %}
<div>
  <pre>
-=[INFO]=======================================================================-
 {{ collection.filename }} 
 {{ collection.name }} (C) {% if collection.year != None %} {{ collection.year }} {% endif %}<a href="{{ url_for('view_author', author_id=collection.author.id)}}">{{ collection.author.name }}</a> {% if collection.group != None %} / <a href="{{ url_for('view_group', group_id=collection.group.id)}}">{{collection.group.name}}</a>{% endif %}
-==============================================================================-
    {{ content }}
  </pre>
</div>
{% endblock %}

