{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
	      {{ form.username.label }}
      </td>
      <td>
      	{{ form.username }}
      </td>
    </tr>
    {% if form.username.errors %}
    <tr><td colspan="2">
      {% for error in form.username.errors %}
      <p style="color:red">{{ error }}</p>
      {% endfor %}
    </td></tr>
    {% endif %}
    <tr>
      <td>
        {{ form.email.label }}
      </td>
      <td>
        {{ form.email }}
      </td>
    </tr>
    {% if form.email.errors %}
    <tr><td colspan="2">
        {% for error in form.email.errors %}
      <p style="color:red">{{ error }}</p>
      {% endfor %}
    </td></tr>
    {% endif %}
    <tr>
      <td>
	      {{ form.password.label }}
      </td>
      <td>
      	{{ form.password }}
      </td>
    </tr>
    {% if form.password.errors %}
    <tr><td colspan="2">
        {% for error in form.password.errors %}
      <p style="color:red">{{ error }}</p>
      {% endfor %}
    </td></tr>
    {% endif %}

    <tr>
      <td>
        {{ form.password_verify.label }}
      </td>
      <td>
        {{ form.password_verify }}
      </td>
    </tr>
    {% if form.password_verify.errors %}
    <tr><td colspan="2">
        {% for error in form.password_verify.errors %}
        <p style="color:red">{{ error }}</p>
      {% endfor %}
    </td></tr>
    {% endif %}

    <tr>
      <td colspan="2">
	      <input type="submit" value="Register"/>
      </td>
    </tr>
</form>
{% endblock %}
